<br />
<div class="container">
  <div class="row">
    <div *ngFor="let collegue of collegues">
      <div class="card m-3" style="width: 15rem;">
        <a routerLink="/detail/{{collegue.nom}}"><img class="card-img-top" height="200" width="100" src="{{collegue.imageUrl}}"></a>
        <div class="card-body" align="center">
          <h5 class="card-title">{{collegue.nom}}</h5>
          <p class="card-text">{{collegue.score}}</p>
          <app-action [collegue]="collegue"></app-action>
        </div>
      </div>
      </div>
    </div>
  </div>
