<div class="container" style="background:#f2f2f2">
  <span class="badge badge-pill badge-primary float-right">En ligne</span>
  <span class="badge badge-pill badge-danger float-right">Hors-ligne</span>
  <h1 class="display-2"> Top collègues </h1>
  <p class="lead">Les meilleurs collègues du moment</p>
  <form *ngIf="afficherForm()">
    <div class="form-group row">
      <label for="pseudo" class="col-sm-2 col-form-label">Pseudo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="pseudo" placeholder="Pseudo" #pseudo>
      </div>
    </div>
    <div class="form-group row">
      <label for="urlimage" class="col-sm-2 col-form-label">URL Image</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="imageURL" placeholder="URL Image" #imageUrl>
      </div>
    </div>
     <button class="btn btn-primary mb-2" (click)="add(pseudo, imageUrl)">Ajouter un nouveau collègue</button>
  </form>
</div>
<br />
<div class="alert alert-success m-5" role="alert" [hidden]="alerte">
  Le collègue {{collegues[collegues.length - 1].nom}} a été ajouté avec succès !
</div>
<div class="alert alert-danger m-5" role="alert" [hidden]="echec">
  Ce collègue existe déjà !
</div>
<app-votre-dernier-avis></app-votre-dernier-avis>
<nav *ngIf="afficherForm()" class="nav nav-pills flex-column flex-sm-row justify-content-center">
  <a class="flex-sm-fill text-sm-center nav-link " routerLink="/classique" routerLinkActive="active">Classique</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/tableau"  routerLinkActive="active">Tableau</a>
  <a class="flex-sm-fill text-sm-center nav-link" routerLink="/carrousel"  routerLinkActive="active">Carrousel</a>
</nav>

<router-outlet></router-outlet>
<app-votre-dernier-avis></app-votre-dernier-avis>
